/* --- GLOBAL STYLES --- */
$background-color: #ffffff;
$secondary-color: #e5e7eb;
$primary-text: #1f2933;
$secondary-text: #4b5563;
$accent-color: #2563eb;
$font-family: "Varela Round", sans-serif;

html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $background-color;
  color: $primary-text;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: $background-color;
}

/* --- Navigation Bar --- */
header {
  // position: sticky;
  // top: 0;
  // z-index: 10;
  padding: 20px 0;
  background-color: $secondary-color;

  ul {
    background-color: $secondary-color;
    padding: 10px 0;
    margin: 0;
    text-align: end;
  }
  li {
    display: inline;
    margin-right: 20px;
  }
  a {
    color: $primary-text;
    text-decoration: none;
    font-weight: lighter; //Fix bold issue
    &:hover {
      color: $accent-color;
    }
  }
}

/* --- Hero Section --- */
.hero-container {
  position: relative;
  width: 100%;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

/* --- About Me Section --- */
.about-container {
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;

  .about-me {
    padding: 20px 20px 50px 20px;
    background-color: $secondary-color;
    text-align: left;

    h2 {
      color: $primary-text;
      margin-bottom: 20px;
      margin: 0;
    }

    h3 {
      margin-top: 0;
      font-size: 24px;
      color: $secondary-text;
    }

    p {
      font-size: 17px;
      margin: 0;
      color: $secondary-text;
    }

    i {
      margin-top: 15px;
      color: $accent-color;
    }
  }
}

.contact-me {
  padding: 0px 20px 40px 20px;

  h4 {
    color: $primary-text;
    font-size: 36px;
    margin: 0;
  }

  a {
    color: $accent-color;
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    &:hover {
      color: $primary-text;
    }
  }
}

/* --- Projects Section --- */
.projects-container {
  display: block;
  text-align: center;
  background-color: $background-color;
  margin-top: 30px;

  h4 {
    color: $primary-text;
    font-size: 18px;
    margin: 0;
  }

  h1 {
    color: $secondary-text;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.video-container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
  scroll-snap-type: x mandatory;
  margin-left: 10px;
  margin-bottom: 10px;

  h2 {
    font-size: 26px;
    color: $primary-text;
    margin: 0px;
  }

  p {
    color: $secondary-text;
    font-size: 15px;
    margin: 5px;
  }

  a {
    color: $accent-color;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    &:hover {
      color: $primary-text;
    }
  }
}

.video-container video {
  width: 250px;
  flex-shrink: 0; /* prevents shrinking */
  border-radius: 8px;
}

.video-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* --- Learning More Section --- */

.learning {
  padding: 50px 40px 50px 40px;
  background-color: $secondary-color;
  text-align: center;

  h1 {
    color: $primary-text;
    font-size: 28px;
    margin: 0px;
  }

  a {
    font-size: 18px;
    margin: 0 0px 40px;
    color: $accent-color;
  }

  i {
    margin: 0 15px;
    color: $accent-color;
    &:hover {
      color: $primary-text;
    }
  }
}

/* --- Tech Stack Section --- */
.tech-stack {
  padding: 20px;
  background-color: $background-color;
  text-align: center;
  margin-bottom: 20px;

  h2 {
    color: $primary-text;
    font-size: 18px;
    margin: 0px;
  }

  h4 {
    color: $secondary-text;
    font-size: 20px;
    margin: 0px 0 20px 0;
  }

  .tech-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    i {
      font-size: 50px;
      color: $primary-text;
      &:hover {
        color: $accent-color;
      }
    }
  }
}

/* --- Footer Section --- */
footer {
  background-color: $secondary-color;
  padding: 20px;

  ul {
    display: flex;
    justify-content: center;
    padding: 10px 0px px 0px;
    margin: 0;
    list-style: none;
  }

  li {
    margin-right: 20px;
  }

  h4 {
    color: $primary-text;
    font-size: 16px;
    margin: 0;
  }

  a {
    color: $primary-text;
    // text-decoration: none;
    font-weight: lighter; //Fix bold issue
    &:hover {
      color: $accent-color;
    }
  }
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: $secondary-color;

  a {
    margin: 0 10px;
  }
  .fa-linkedin {
    color: #0a66c2;
  }

  .fa-square-github {
    color: #171515;
  }
}

/* --- REFLECTION PAGE --- */
.reflection-title {
  text-align: center;
  margin-top: 20px;
  h1 {
    color: $primary-text;
    font-size: 28px;
    margin: 0;
  }
}

/* --- RESUME PAGE --- */
.title-center {
  text-align: center;
  margin-top: 10px;

  h1 {
    color: $primary-text;
    font-size: 28px;
    margin: 0;
  }
}
.resume {
  display: flex;
  justify-content: center;
  padding: 20px;

  img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    height: auto;
  }
}

/* --- CONTACT PAGE --- */
.page-title {
  text-align: center;
  margin-top: 20px;

  h1 {
    color: $primary-text;
    font-size: 28px;
    margin: 0;
  }
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; /* Allow the user to vertically resize the textarea */
}

/* Submit button */
input[type="submit"] {
  background-color: $accent-color;
  color: $background-color;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #dbe9ee;
  color: $background-color;
}

/* Form color and design */
.container {
  display: flex;
  gap: 20px;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
}
