@use "variables" as *;

.side-nav {
  font-size: 18px;
  font-weight: 300;
  list-style: none;
  margin-top: 40px;
  padding: 0;

  @media only screen and (max-width: 800px) {
    display: flex;
    font-size: 16px;
    margin: 0;
    align-items: center;
    overflow: hidden;
  }

  &_item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.8rem;

      @media only screen and (max-width: 800px) {
        margin: 0;
      }
    }
  }

  &_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: $accent-color;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
  }

  &_item:hover::before,
  &_item--active::before {
    transform: scaleY(1);
    width: 100%;
  }
  &_link:link,
  &_link:visited {
    color: $background-color;
    text-decoration: none;
    display: block;
    padding: 1rem 3rem;
    position: relative;
    z-index: 10;
  }

  @media only screen and (max-width: 800px) {
    .side-nav_link {
      padding: 0.5rem 1rem; // no vertical padding
    }
  }
}

//GALLERY
.gallery {
  display: flex;
  flex: 1;

  &_item {
    flex: 1;
  }

  &_photo {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.overview {
  display: flex;
  align-items: center;
  border: 1px solid $secondary-color;

  &_title {
    margin-right: auto;
    padding: 1rem 2rem;

    h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 28px;
      font-weight: 400;
    }
  }

  &_live {
    padding-right: 30px;
    a {
      color: $accent-color;
    }

    a:hover {
      color: $primary-text;
    }
  }

  &_gitHub {
    background-color: $primary-text;
    padding: 0 30px;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: $background-color;
    }

    i {
      font-size: 26px;
    }
  }
}

.list {
  display: flex;
  gap: 200px;
  padding-top: 20px;
  border-top: solid 1px $secondary-color;

  @media only screen and (max-width: 800px) {
    display: block;
  }
}
