/* --- GLOBAL STYLES --- */
$background-color: #ffffff;
$secondary-color: #e5e7eb;
$primary-text: #1f2933;
$secondary-text: #4b5563;
$accent-color: #3b82f6;
$font-family: "Varela Round", sans-serif;

html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $background-color;
  color: $primary-text;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: $background-color;
}

/* --- Navigation Bar --- */
header {
  background-color: $secondary-color;
  padding: 0px 20px;

  .nav-container {
    display: flex;
    justify-content: space-between; // hamburger on the right
    align-items: center;
  }

  .logo img {
    height: 70px;
  }

  /* Hamburger */
  .hamburger {
    background: none;
    border: none;
    color: $primary-text;
    font-size: 26px;
    cursor: pointer;
    z-index: 1001;
  }

  /* mobile menu */
  ul {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: $secondary-color;

    list-style: none;
    padding: 80px 20px;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 20px;

    transform: translateX(100%); // hidden off screen
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  ul.active {
    transform: translateX(0);
  }

  a {
    color: $primary-text;
    text-decoration: none;
    font-weight: lighter;

    &:hover {
      color: $accent-color;
    }
  }
}

/* --- Hero Section --- */
.hero-container {
  position: relative;
  width: 100%;

  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

/* --- About Me Section --- */
.about-container {
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;

  .about-me {
    padding: 20px 20px 50px 20px;
    background-color: $secondary-color;
    text-align: left;

    h2 {
      color: $primary-text;
      font-weight: 300;
      margin-bottom: 20px;
      margin: 0;
    }

    p {
      font-size: 17px;
      margin: 0;
      color: $secondary-text;
    }

    i {
      margin-top: 15px;
      color: $accent-color;
    }
  }
}

.contact-me {
  padding: 0px 20px 40px 20px;

  h4 {
    color: $primary-text;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
  }

  a {
    color: $accent-color;
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    &:hover {
      color: $primary-text;
    }
  }
}

/* --- Projects Section --- */
.projects-container {
  display: block;
  text-align: center;
  background-color: $background-color;
  margin-top: 20px;

  h4 {
    color: $primary-text;
    font-size: 18px;
    margin: 0;
  }

  h1 {
    color: $secondary-text;
    font-size: 24px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.video-container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
  scroll-snap-type: x mandatory;
  margin-left: 10px;
  margin-bottom: 10px;

  h2 {
    font-size: 26px;
    font-weight: 100;
    color: $primary-text;
    margin: 0px;
    margin-top: 10px;
  }

  p {
    color: $secondary-text;
    font-size: 15px;
    margin: 5px;
  }

  a {
    color: $accent-color;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    &:hover {
      color: $primary-text;
    }
  }
}

.video-container video {
  width: 250px;
  flex-shrink: 0;
  border-radius: 8px;
}

.video-container::-webkit-scrollbar {
  height: 0; /* Chrome, Safari */
}

/* --- Learning More Section --- */
.learning {
  padding: 50px 40px 50px 40px;
  background-color: #3b82f6;
  text-align: center;

  h1 {
    color: $secondary-color;
    font-size: 28px;
    font-weight: 100;
    margin: 0px;
  }

  a {
    font-size: 18px;
    margin: 0 0px 40px;
    color: $primary-text;
  }

  i {
    margin: 0 15px;
    color: $accent-color;
    &:hover {
      color: $primary-text;
    }
  }
}

/* Certification Slider container */

.certifications {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background: $secondary-color;
  h2 {
    color: $primary-text;
    font-size: 18px;
    margin: 0px;
  }

  h4 {
    color: $secondary-text;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
  }

  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .slider {
    width: 100%;
    position: relative;
  }

  /* Slides */
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
  }

  /* Active slide */
  .slide.active {
    opacity: 1;
    position: relative;
  }

  /* Buttons */
  .prev,
  .next {
    background: $background-color;
    color: $accent-color;
    border: none;
    padding: 10px 14px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    flex-shrink: 0;
  }

  .prev:hover,
  .next:hover {
    background: $accent-color;
    color: #ffffff;
  }
}

/* --- Tech Stack Section --- */
.tech-stack {
  padding: 20px;
  background-color: $background-color;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;

  h2 {
    color: $primary-text;
    font-size: 18px;
    font-weight: 100;
    margin: 0px;
  }

  h4 {
    color: $secondary-text;
    font-size: 20px;
    font-weight: 100;
    margin: 0px 0 20px 0;
  }

  .tech-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    i {
      font-size: 50px;
      color: $primary-text;
      &:hover {
        color: $accent-color;
      }
    }
  }
}

/* --- Footer Section --- */
footer {
  background-color: $secondary-color;
  padding: 20px;

  ul {
    display: block;
    justify-content: center;
    padding: 10px 0px px 0px;
    margin: 0;
    list-style: none;
  }

  li {
    margin-right: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  h4 {
    color: $primary-text;
    font-size: 16px;
    margin: 0;
  }

  a {
    color: $primary-text;
    text-decoration: none;
    font-weight: lighter; //Fix bold issue
    &:hover {
      color: $accent-color;
    }
  }
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: $secondary-color;

  a {
    margin: 0 10px;
  }
  .fa-linkedin {
    color: #0a66c2;
  }

  .fa-square-github {
    color: #171515;
  }
}

/* --- REFLECTION PAGE --- */
.reflection-title {
  text-align: center;
  margin-top: 20px;
  h1 {
    color: $primary-text;
    font-size: 28px;
    margin: 0;
  }
}

.reflection-content {
  max-width: 800px;
  margin: 20px auto 40px auto;
  padding: 0 20px;
  text-align: center;

  h4 {
    color: $primary-text;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  p {
    color: $secondary-text;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
}

/* --- RESUME PAGE --- */
.title-center {
  text-align: center;
  margin-top: 20px;

  h1 {
    color: $primary-text;
    font-size: 28px;
    margin: 0;
  }
}
.resume {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 30px;

  img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    height: auto;
  }
}

.download-btn {
  text-align: center;
  margin-bottom: 40px;

  .btn-download {
    background-color: $accent-color;
    color: $background-color;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

    i {
      margin-right: 8px;
    }

    &:hover {
      background-color: #dbe9ee;
      color: $background-color;
    }
  }
}

/* --- CONTACT PAGE --- */
.page-title {
  text-align: center;
  margin-top: 20px;

  h1 {
    color: $primary-text;
    font-size: 28px;
    margin: 0;
  }
}

/* Form color and design */
.container {
  display: block;
  gap: 20px;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;

  img {
    margin-bottom: 15px;
  }

  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; /* Allow the user to vertically resize the textarea */
  }

  /* Submit button */
  input[type="submit"] {
    display: block;
    margin: 20px auto 0;
    background-color: $accent-color;
    color: $background-color;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #dbe9ee;
    color: $background-color;
  }
}

/* CHATBOT */
/* Chat Window */
.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  height: 480px; /* fixed height for scrollable content */
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

/* Header */
.chat-header {
  background: $accent-color;
  color: white;
  padding: 12px;
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

/* Chat Messages */
#chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto; /* scrollable messages */
  background: #f4f6f8;
  display: flex;
  flex-direction: column;
}

/* Message */
.message {
  max-width: 80%;
  padding: 8px 12px;
  border-radius: 16px;
  margin-bottom: 8px;
  font-size: 14px;
  word-wrap: break-word;
}

.user {
  background: $accent-color;
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

.bot {
  background: #e0e0e0;
  color: #333;
  align-self: flex-start;
}

/* Input area */
.input-area {
  display: flex;
  padding: 8px;
  border-top: 1px solid #ddd;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

button {
  margin-left: 6px;
  border-radius: 20px;
  background: $accent-color;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
}

/* Close button */
.close-btn {
  cursor: pointer;
}

/* Floating reopen button */
#chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background: $accent-color;
  color: white;
  font-size: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Suggested questions */
.suggested-questions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 6px;
}

.suggested-questions button {
  background: $accent-color;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 8px;
}

.suggested-questions button:hover {
  background: $accent-color;
}

/* -----------------------------------------------------*/
/* --- BREAKPOINTS/RESPONSIVNESS --- */
@media (min-width: 800px) {
  /* -------- HOMEPAGE --------*/

  /* --- Navigation Bar --- */
  header {
    .hamburger {
      display: none;
      position: sticky;
    }

    .nav-container {
      justify-content: space-between; // logo left, links right
      padding: 10px;
    }

    .logo {
      position: static;
      transform: none;
    }

    .logo img {
      height: 60px;
    }

    ul {
      position: static; // remove fixed
      height: auto;
      width: auto;
      transform: none; // cancel translateX
      display: flex;
      flex-direction: row;
      padding: 10px;
      background: none;
    }

    li {
      margin-left: 20px;
    }

    a {
      font-size: 15px;
    }
  }

  /* hero section */
  .hero-container {
    position: relative;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      max-height: 800px;
      object-fit: cover;
    }
  }

  /* --- About Me Section --- */
  .about-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 80px;

    .about-me {
      padding: 0;
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 26px;
        margin: 0;
        color: $secondary-text;
      }
    }
  }

  /* --- Projects Section --- */
  .projects-container {
    margin-top: 40px;
    h4 {
      font-size: 28px;
    }
    h1 {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }
  .video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    h2 {
      font-size: 28px;
    }
    p {
      font-size: 18px;
    }
    a {
      font-size: 18px;
    }
  }

  .video-container video {
    width: 400px;
  }

  /* --- Learning More Section --- */
  .learning {
    padding: 80px 0px 80px 0px;

    h1 {
      font-size: 40px;
    }

    a {
      font-size: 26px;
    }
  }

  .certifications {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
    h2 {
      font-size: 28px;
    }

    h4 {
      font-size: 36px;
      max-width: 450px;
    }

    .slider {
      max-width: 600px;
    }
  }

  /* --- Tech Stack Section --- */
  .tech-stack {
    padding: 80px;
    h2 {
      font-size: 28px;
    }

    h4 {
      font-size: 36px;
    }
  }

  /* */
  /* Form color and design */
  .container {
    display: flex;
    justify-content: center;

    form {
      max-width: 500px;
    }
    img {
      height: 600px;
      margin-bottom: 15px;
      max-width: 800px;
      object-fit: cover;
      object-position: left;
    }
  }

  footer {
    ul {
      display: flex;
    }
  }
}
